appdirs==1.4.3
attrs==18.2.0
backcall==0.1.0
basemap==1.2.0
bleach==3.1.2
branca==0.3.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
colorama==0.4.0
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
entrypoints==0.2.3
Fiona==1.7.13
folium==0.7.0
GDAL==2.2.4
geopandas==0.4.0
idna==2.7
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jsonschema==3.0.0a3
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
kml2geojson==4.0.2
MarkupSafe==1.1.0
matplotlib==2.2.2
mistune==0.8.4
mkl-fft==1.0.6
mkl-random==1.0.2
munch==2.3.2
nb-conda==2.2.1
nb-conda-kernels==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
nose==1.3.7
notebook==5.7.2
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.5
ply==3.11
prometheus-client==0.4.2
prompt-toolkit==2.0.7
psycopg2==2.7.5
Pygments==2.2.0
Pyomo==5.5.1
pyparsing==2.3.0
pyproj==1.9.5.1
pyrsistent==0.14.6
PySAL==1.14.4.post2
pyshp==2.0.0
python-dateutil==2.7.5
pytz==2018.7
PyUtilib==5.6.3
pywinpty==0.5.4
pyzmq==17.1.2
requests==2.20.1
Rtree==0.8.3
scipy==1.1.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.11.0
SQLAlchemy==1.2.14
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
wincertstore==0.2
xlrd==1.1.0
